body{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  min-height: 100vh;

}
p{
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 1rem;
  align-items: center;
}
a{
  text-decoration: none;
}
.edit-input :focus{
  outline: none !important;
}
.edit{
  visibility: hidden;
}

.list-group-item:hover .edit{
 
  visibility: visible;
}



